:root {
    --accent-color: #458FF6;
    --text-color: #7d7987;
    --title-color: #000;
}

/* Общие стили*/
body {
    font-family: 'Muli', sans-serif;
    background-color: white;
}

/* декор єлементов */
.decor__sticky {
    position: absolute;
    top: 160px;
    left: -5px;
}

/* модификатор */
.section--padding {
    padding: 150px 0;
}

.row-mb {
    margin-bottom: 200px;
}

/* перебиваем контейнер */
.container {
    max-width: 1240px;
}

/* компоненты */
.button {
    cursor: pointer;
    border-radius: 55px;
    border: none;
    padding: 15px 35px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    text-decoration: none;
}

.button--solid {
    background-color: var(--accent-color);
    color: white;
}

.button--solid:hover {
    background-color: #3c7bd3;
}

.button--border:hover {
    border: 2px solid #3c7bd3;
}

.button--border {
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}

.header {
    padding: 50px 0;
    position: relative;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.active {
    font-weight: bold;
    color: #1f1534 !important;
}

.menu__link {
    color: var(--text-color);
    text-decoration: none;
    transform: all 0.3s ease-in-out;
    font-size: 18px;
}

.menu__link:hover {
    color: #1f1534;
    text-decoration: none;
}

.section__title {
    margin-bottom: 60px;
    position: relative;
    font-weight: bold;
    font-size: 36px;
}

.section__title::before {
    content: "";
    width: 55px;
    height: 2px;
    display: block;
    background-color: var(--title-color);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.section__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--text-color);
}



/* header content */
.header__title {
    font-size: 48px;
    font-weight: bold;
}

.header__text {
    color: var(--text-color);
    font-size: 21px;
    line-height: 32px;
}

.header__picture {
    margin-top: 80px;
}

/* услуги */
.services {
    background-image: url("../img/service-bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.service__wrapper {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.service__card {
    width: 350px;
    background-color: white;
    position: relative;
    z-index: 10;
    padding: 45px 35px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    margin-bottom: 35px;
    min-height: 355px;
}

.service__icon {
    margin-bottom: 15px;
}

.service__title {
    font-size: 24px;
    line-height: 55px;
    font-weight: bold;
    color: var(--title-color);
}

.service__text {
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
}

.service-decor {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Advantages */

.advantages__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.7;
    color: var(--title-color);
    margin-bottom: 45px;
}

.advantages__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color);
    margin-bottom: 35px;
}

.advantages__left img {
    width: 100%;
}

/* CUSTOMER */

.feedback__wrapper {
    background: rgb(90, 152, 242);
    background: linear-gradient(209.9deg, #67C3F3 9.09%, #67C3F3 9.1%, #5A98F2 100%);
    border-radius: 25px;
    padding: 60px 110px;
    /* margin: 0 60px; */
    width: 90%;
    margin: 0 auto;
    color: white;
}

.feedback__inner {
    margin-top: 100px;
}

.feedback__title {
    font-size: 36px;
    font-weight: bold;
}

.customer__picture {
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid white;
}

.customer__post {
    font-weight: 300;
    font-size: 18px;
}

.customer__name {
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
}

.feedback__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
}

/* news */

.news__card {
    min-height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 35px;
}

.news__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: var(--title-color);
    margin-bottom: 10px;
    margin-top: 20px;
}

.news__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-color);
    margin-bottom: 25px;
}

.news__link {
    color: var(--accent-color);
    font-size: 17px;
    font-weight: 600;
}

.news__picture {
    margin: 0 -30px;
}

.news__picture img {
    width: 100%;
    height: 240px;
}

.news__all {
    margin-top: 70px;
}
